body {
  font-family: "Mona-Sans", sans-serif;
}

ul {
  list-style: none;
}

.sidebar {
  width: 400px;
  background: #f3f4f6;
}

.sidebar-menu {
  border-right: 2px double #d3d3d3;
  height: 100%;
  font-size: 18px;
  background: #f3f4f6;
}

.sidebar-menu li {
  font-size: 18px;
}

.logo-container {
  background: #f3f4f6;
  height: 13vh;
  width: 100%;
  border-right: 2px double #d3d3d3;
  border-bottom: 2px double #d3d3d3;
  color: #f1f4f9;
}

.logo-container img {
  width: 90%;
}

.navigation-menu {
  padding: 20px 30px;
  height: 13vh;
  border-bottom: 2px double #d3d3d3;
  background: #f3f4f6;
}

.navigation-menu h1 {
  font-size: 30px;
  color: #fb923c;
}

.avatar-container img {
  width: 70px;
  height: 70px;
  cursor: pointer;
}

.avatar-description {
  margin-left: 20px;
}

.main-content {
  height: fit-content;
  padding: 50px 30px;
}

.main-content h2 {
  font-size: 20px;
  font-weight: bold;
}

.total-paid {
  background-color: #d5e4e2;
}

.total-issued {
  background-color: #f0dbf8;
}

.main-content svg {
  right: 10px;
  bottom: 10px;
}

.total-issued__uncharged {
  background-color: #f0dbf8;
}

.total-revenue {
  background-color: #ffeee5;
}

.total-due {
  background-color: #ffeee5;
}

.menu-item {
  cursor: pointer;
  font-weight: 500;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  color: #6b7280;
}

.menu-item:hover {
  color: #6b7280;
}

.menu-item.selected {
  color: white;
  background-color: #d3d3d3;
  font-weight: bold;
}

.logout span {
  cursor: pointer;
}

.logout svg {
  cursor: pointer;
}
